{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "jsxBracketSameLine": true,
    "printWidth": 150,
    "proseWrap": "always",
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "useTabs": false
}
