<%- include(
'layout/header', {
title: '波波博客 - boblog.com',
description: '',
keyword: '',
isArticleList: false,
navActiveTag: '',
isArticleDetail: false,
needHighlighting: false
})
%>
<div class="container margin-top-20">
    <div class="row">
        <!-- 左侧 -->
        <div class="col-8">
            <h4>404</h4>
            <p>该网页未找到，请<a href="/">返回首页</a></p>
        </div>
    </div>
</div>
