.article-detail {
    box-sizing: border-box;
    width: 66%;
    margin: 64px auto 32px;
    border-radius: 10px;
    overflow: hidden;
}

@media screen and (min-width: 200px) and (max-width: 750px) {
    .article-detail {
        padding: 0 24px;
        width: 100%;
    }

    .article-detail-intro {
        flex-direction: column;
    }
}

.article-container {
    box-sizing: border-box;
    padding: 32px 0;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
}

.article-detail-header {
    padding-bottom: 32px;
}

.article-detail-title {
    color: #17233d;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    margin: 0;
}

.article-detail-intro {
    color: #515a6e;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-detail-intro li {
    list-style: none;
    margin-right: 24px;
    font-size: 12px;
    color: #9ea7b4;
    white-space: nowrap;
}

li.articles-detail-item-category {
    height: 24px;
    line-height: 24px;
    padding: 0 24px;
    color: #409EFF;
    border-radius: 64px;
    background: rgba(51, 119, 255, .1);
}
