.article-detail {
    box-sizing: border-box;
    width: 70%;
    margin: 0 auto;
    padding: 32px;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
}

.article-title {
    color: #17233d;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.article-intro {
    color: #515a6e;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px 0;
}

.article-intro li {
    display: flex;
    align-items: center;
    margin-right: 24px;
    font-size: 16px;
    color: #9ea7b4;
    white-space: nowrap;
}

li.articles-item-category {
    height: 28px;
    line-height: 28px;
    padding: 0 24px;
    font-size: 16px;
    color: #409EFF;
    border-radius: 64px;
    background: rgba(51, 119, 255, .1);
}
