.sidebar {
    width: 228px;
}

@media screen and (min-width: 200px) and (max-width: 750px) {
    .sidebar {
        display: none;
    }
}

.sidebar-box {
    margin-bottom: 16px;
    border-radius: 3px;
    overflow: hidden;
    background: #fff;
}

.sidebar-box-content {
    margin: 0;
    padding: 0;
}

.sidebar-header {
    box-sizing: border-box;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #f4f4f4;
    padding: 0 16px;
    font-size: 16px;
}

.sidebar-box-content-item {
    padding: 0 24px;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #657180;
}

.sidebar-box-content-item:hover {
    color: #2d8cf0;
}

.sidebar-box-content-item a {
    flex: 1;
    font-size: 13px;
    color: #657180;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
}

.sidebar-box-content-item a:hover {
    color: #2d8cf0;
}

.sidebar-box-content-item span {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-top: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
