
.sidebar-container-fixed {
    position: fixed;
    top: 66px;
    right: 15%;
    width: 248px;
}

.sidebar-container-visibility {
    visibility: hidden;
    width: 248px;
    float: right;
    margin-left: 16px;
    margin-bottom: 16px;
    border-radius: 10px;
    background: #fff;
}

@media screen and (min-width: 200px) and (max-width: 750px) {
    .sidebar-container-fixed {
        display: none;
    }

    .sidebar-container-visibility {
        display: none;
    }
}

.sidebar-box {
    margin-bottom: 16px;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
}

.sidebar-box .list-group-item-border {
    border: none;
}

.sidebar-box-content {
    margin: 0;
    padding: 0 16px;
}

.sidebar-header {
    box-sizing: border-box;
    height: 42px;
    line-height: 42px;
    padding: 0 16px;
    font-weight: 500;
    border-bottom: 1px solid #f4f4f4;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #337ab7;
}

.sidebar-header span {
    margin-right: 10px;
}

.sidebar-box-category {
    padding: 16px 0;
    list-style: none;
}

.sidebar-box-content-item {
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #657180;
}

.sidebar-box-content-item:hover {
    color: #2d8cf0;
}

.sidebar-box-content-item a {
    flex: 1;
    font-size: 13px;
    color: #657180;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
}

.sidebar-box-content-item a:hover {
    color: #2d8cf0;
}

.sidebar-box-content-item span {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-top: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
