<footer class="footer-inner">
    <h3><a href="https://github.com/liangfengbo" target="_blank">Copyright&copy;波波博客 - www.boblog.com</a></h3>
    <p><a href="http://www.miit.gov.cn" target="_blank">粤ICP备18001135号-3</a></p>
</footer>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="/javascript/common.js"></script>
<script>
  // 回到顶部
  $("#back-to-top-page").bind('click', function () {
    $('body,html').animate({scrollTop: 0}, 500)
  }).fadeOut(0)

  var clientHeight = document.documentElement.clientHeight || document.body.clientHeight;
  $(window).scroll(function () {
    var osTop = document.documentElement.scrollTop || document.body.scrollTop;
    if (osTop >= clientHeight) {
      $("#back-to-top-page").fadeIn(400);

    } else {
      $("#back-to-top-page").fadeOut(400);
    }
  })

</script>
</body>
</html>
