<footer class="footer-inner">
    <h3>www.boblog.com - 波博客 Copyright&copy; Author梁凤波 itbo@163.com</h3>
    <p><a href="http://www.miit.gov.cn" target="_blank">粤ICP备18001135号-3</a></p>
</footer>

</body>
</html>
