<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% if (isArticleDetail) { %>
        <meta name="description" content=""/>
    <% } %>
    <meta name="description" content="波博客 - boblog.com, <%= description %>"/>
    <meta name="keywords" content="<%= title %>,<%= keyword %>, 梁凤波, 波博客, 博客, 个人博客, 个人网站, 首页, web前端, JavaScript, css, html, boblog, boblog.com"/>
    <meta name="author" content="梁凤波,liangfengbo"/>
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="//cdn.boblog.com">
    <link rel="dns-prefetch" href="//boblog.com">
    <link rel="dns-prefetch" href="//www.boblog.com">
    <link rel="dns-prefetch" href="//api.boblog.com">
    <title><%= title %> - 波博客 - boblog.com</title>
    <% if (isArticleList) { %>
        <link href="/css/article-list.css" rel="stylesheet">
    <% } %>
    <% if (isArticleDetail) { %>
        <link href="/css/article-detail.css" rel="stylesheet">
    <% } %>
    <% if (needHighlighting) { %>
        <link rel="stylesheet"
              href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/github.min.css">
    <% } %>
    <link href="/css/header-footer.css" rel="stylesheet">
    <script src="/javascript/common.js"></script>
</head>
<body>
<header class="header-wrap">
    <section class="header-inner">
        <div class="logo">
            <a href="/" class="logo-box">
                <img src="/images/boblog.png" alt="logo">
            </a>
        </div>
        <div class="nav">
            <ul class="nav-box">
                <li class="nav-item">
                    <a class="<% if (navActiveTag === 'article') { %>nav-item-active<% } %>" href="/">文章</a>
                </li>
                <li class="nav-item">
                    <a class="<% if (navActiveTag === 'about') { %>nav-item-active<% } %>" href="/about">关于</a>
                </li>
                <li class="nav-item">
                    <a target="_blank" href="https://github.com/liangfengbo">Github</a>
                </li>
            </ul>
        </div>
        <div class="search">
            <input type="text" id="search-input" value="" placeholder="搜索文章..">
        </div>
    </section>
</header>
