<article class="sidebar">

    <div class="sidebar-box">
        <header class="sidebar-header">
            广告
        </header>
        <ul class="sidebar-box-content">
            <li class="sidebar-box-content-item">
                <a href="/" target="_blank">
                    链接
                </a>
                <span></span>
            </li>
            <li class="sidebar-box-content-item">
                <a href="/" target="_blank">
                    链接
                </a>
                <span></span>
            </li>
            <li class="sidebar-box-content-item">
                <a href="/" target="_blank">
                    链接
                </a>
                <span></span>
            </li>
            <li class="sidebar-box-content-item">
                <a href="/" target="_blank">
                    链接
                </a>
                <span></span>
            </li>
        </ul>
    </div>

    <div class="sidebar-box">
        <header class="sidebar-header">
            链接
        </header>
        <ul class="sidebar-box-content">
            <li class="sidebar-box-content-item">
                <a href="https://github.com/liangfengbo" target="_blank">
                    Github
                </a>
                <span></span>
            </li>
        </ul>
    </div>
</article>
